<pre><%= $game.own_board_view $game.player_2 %></pre>
<span>Where to place ship: <%= $name2 %></span>
<form action="/game2" method="post">
  <input type="text" name="coords">
  <select name="direction">
    <option value="Horizontal">Horizontal</option>
    <option value="Vertical">Vertical</option>
  </select>
  <input type="submit">
</form>