<pre><%= @player_1_own_board %></pre>
<span>Where to place ship: <%= @name1 %></span>
<form action="/game" method="post">
  <input type="text" name="coords">
  <select name="direction">
    <option value="Horizontal">Horizontal</option>
    <option value="Vertical">Vertical</option>
  </select>
  <input type="submit">
</form>