<% if $player_2 == 'done' %>
  <pre><%= @player_2_own_board %></pre>
  <a href="/fire1">Done</a>
<% elsif $player_2 == 'shot' %>
  <pre><%= @player_2_opponent_board %></pre>
  <a href="/fire1">Done</a>
<% end %>